.menu{
    position: fixed;
    display: block;
    height: 80%;
    width: 100%;
}
.menuCard{
    position: relative;
    height: 90%;
    width: 500px;
}

button{
    opacity: 1;
    background: rgba(210, 180, 140, 0.336);
}